body{

    font-family: Arial, Helvetica, sans-serif;

}

#inicio{
    background:#fff;
}

/*cabeçalho*/
.navbar{

    background:white;

    padding:12px 0;

    box-shadow:0 2px 15px rgba(0,0,0,.08);

    transition:.3s;;

}

.logo-menu{

    width:150px;

}

.logo-menu:hover{

    transform:scale(1.03);

}

.nav-link{

    position:relative;

    color:#555;

    font-size:18px;

    font-weight:600;

    margin:0 20px;

    transition:.3s;

}

.nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-8px;

    width:0;

    height:3px;

    background:#ff5a00;

    border-radius:20px;

    transition:.3s;

}

.nav-link:hover::after{

    width:100%;

}
.nav-link:hover{

    color:#ff5a00;

}

.btn-login-menu{

    background:linear-gradient(90deg,#ff5a00,#ff7b1a);

    color:white;

    padding:11px 28px;

    border-radius:12px;

    font-weight:bold;

    transition:.3s;

}

.btn-login-menu:hover{

    transform:translateY(-2px);

    color:white;

}

/*tela inicial*/
#inicio{

    margin-bottom:50px;

}

.carousel{

    margin-bottom: 30px;

}

.carousel img{

    width:100%;

    height:450px;

    object-fit:cover;

}

.sobre{

    width:75%;

    margin:auto;

    text-align:center;

}

.sobre h2{

    color:#ff5a00;

    font-size:42px;

    font-weight:bold;

    margin-bottom:25px;

}

.sobre p{

    font-size:22px;

    color:#555;

    line-height:1.8;

    margin-bottom:35px;

}

.btn-conhecer{

    background:linear-gradient(90deg,#ff5a00,#ff7a1c);

    color:white;

    text-decoration:none;

    padding:16px 35px;

    border-radius:12px;

    font-size:20px;

    font-weight:bold;

    transition:.3s;

}

.btn-conhecer:hover{

    background:#ff6b1d;

    color:white;

}

/* Diferenciais */
.diferenciais{

    display:flex;

    justify-content:center;

    gap:40px;

    margin-top:50px;

    flex-wrap:wrap;

}

.diferencial{

    background:white;

    width:290px;

    text-align:center;

    padding:30px;

    border-radius:18px;

    transition:.3s;

}

.diferencial:hover{

    transform:translateY(-6px);

    background:#fffaf6;

}

.diferencial i{

    font-size:55px;

    color:#ff5a00;

    margin-bottom:20px;

}

.diferencial h4{

    color:#333;

    font-size:24px;

    font-weight:bold;

    margin-bottom:15px;

}

.diferencial p{

    color:#666;

    font-size:18px;

    line-height:1.6;

}

/* */

.produtos{

    padding:60px 0;

    background:#fff;

}

.produtos h2{

    text-align:center;

    font-size:42px;

    font-weight:bold;

    color:#222;

}

.subtitulo-produtos{

    text-align:center;

    color:#777;

    margin-top:12px;

    margin-bottom:45px;

    font-size:20px;

}

.obs-produtos{
    max-width: 900px;
    margin: 25px auto 20px;
    text-align: center;
    color: #666;
    font-size: 20px;
    line-height: 1.8;
}

.whatsapp-contato{
    display: flex;
    justify-content: center;
    margin-bottom: 55px;
}

.whatsapp-contato a{
    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 14px 28px;

    border: 2px solid #25D366;
    border-radius: 50px;

    color: #25D366;
    background: #fff;

    font-size: 20px;
    font-weight: bold;

    text-decoration: none;
    transition: .3s;
}

.whatsapp-contato a i{
    font-size: 28px;
}

.whatsapp-contato a:hover{
    background: #25D366;
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(37,211,102,.25);
}

.tipo-entrega{

    text-align:center;

    margin-bottom:50px;

}

.tipo-entrega h3{

    font-size:34px;

    font-weight:bold;

}

.texto-entrega{

    color:#666;

    margin-top:10px;

    margin-bottom:35px;

}

.opcoes-entrega{

    display:flex;

    justify-content:center;

    gap:35px;

    flex-wrap:wrap;

}

.card-entrega{

    width:180px;

    padding:5px;

    background:white;

    border:2px solid #e6e6e6;

    border-radius:18px;

    cursor:pointer;

    transition:.3s;

    text-align:center;

}

.card-entrega:hover{

    border-color:#ff5a00;

    transform:translateY(-6px);

}

.card-entrega input{

    display:none;

}

.card-entrega i{

    font-size:55px;

    color:#ff5a00;

    margin-bottom:18px;

}

.card-entrega h4{

    font-weight:bold;

}

.card-entrega span{

    color:#666;

}

.card-entrega.ativo{

    border-color:#ff5a00;

    background:#fff6f1;

}

.endereco-entrega{

    display:none;

    margin:50px auto;

    max-width:900px;

    background:white;

    padding:35px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.endereco-entrega h3{

    text-align:center;

    margin-bottom:30px;

}

.categorias{

    display:flex;

    justify-content:center;

    gap:18px;

    margin-bottom:50px;

    flex-wrap:wrap;

}

.categoria{

    border:2px solid #ff5a00;

    background:white;

    color:#ff5a00;

    padding:12px 28px;

    border-radius:50px;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

.categoria:hover{

    background:#ff5a00;

    color:white;

}

.categoria.ativa{

    background:linear-gradient(90deg,#ff5a00,#ff7a1c);

    color:white;

}

.cards-produtos{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:30px;

}

.produto{

    background:white;

    border-radius:20px;

    padding:30px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    text-align:center;

    transition:.3s;

}

.produto:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 35px rgba(0,0,0,.12);

}

.produto img{

    width:170px;

    height:170px;

    object-fit:contain;

    margin-bottom:20px;

    transition:.4s;

}

.produto:hover img{

    transform:scale(1.08);

}

.produto h3{

    font-size:24px;

    font-weight:bold;

    color:#222;

}

.produtos h2::after{

    content:"";

    display:block;

    width:90px;

    height:5px;

    background:#ffc400;

    margin:15px auto 0;

    border-radius:20px;

}

.preco{

    font-size:25px;

    color:#ff5a00;

    font-weight:bold;

    margin:18px 0;

}

.quantidade{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:10px;

    margin-bottom:20px;

}

.quantidade button{

    width:33px;

    height:33px;

    border:none;

    border-radius:50%;

    background:#ffe5d6;

    color:#ff5a00;

    font-size:22px;

    font-weight:bold;

}

.quantidade span{

    font-size:20px;

    font-weight:bold;

}

.btn-adicionar{

    width:100%;

    border:none;

    background:linear-gradient(90deg,#ff5a00,#ff7a1c);
    color:white;

    height:50px;

    border-radius:12px;

    font-size:18px;

    font-weight:bold;

    transition:.3s;

}

.btn-adicionar:hover{

    background:#ff6b1d;

    transform:translateY(-2px);

}

.resumo-pedido{

    display:none;

    max-width:900px;

    margin:70px auto;

    background:white;

    border-radius:20px;

    padding:35px;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

}

.resumo-pedido h2{

    text-align:center;

    margin-bottom:35px;

    font-weight:bold;

}

.item-resumo{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:18px;

}

.item-resumo span{

    font-size:18px;

}

.btn-remover{

    border:none;

    background:#dc3545;

    color:white;

    border-radius:8px;

    padding:6px 12px;

}

.total{

    margin-top:30px;

    display:flex;

    justify-content:space-between;

    font-size:28px;

    font-weight:bold;

    color:#ff5a00;

}

.btn-enviar{

    margin-top:35px;

    width:100%;

    height:60px;

    border:none;

    border-radius:12px;

    background:#25D366;

    color:white;

    font-size:20px;

    font-weight:bold;

}

/* */

.sobre{

    padding-top: 80px;

    background:#fff;

}

.contato{

    padding-top: 50px;

    padding-bottom: 80px;

    background:#fff;

}

.texto-sobre{

    max-width:850px;

    margin:auto;

    text-align:center;

    margin-bottom:60px;

}

.titulo-menor{

    color:#ffc400;
    
    font-weight:bold;

    letter-spacing:2px;

    font-size:15px;

}

.texto-sobre h2{

    margin:15px 0 25px;

    font-size:42px;

    font-weight:bold;

    color:#222;

}

.texto-sobre p{

    font-size:19px;

    color:#666;

    line-height:1.8;

    margin-bottom:20px;

}

.btn-laranja{

    background:linear-gradient(90deg,#ff5a00,#ff7a1c);

    color:white;

    padding:14px 30px;

    border-radius:12px;

    text-decoration:none;

    font-weight:bold;

    transition:.3s;

}

.btn-laranja:hover{

    background:#ff6b1d;

    color:white;

}

.card-atendimento{
    
    border-top:6px solid #ffc400;

    background:white;

    max-width:1000px;

    margin:auto;

    border-radius:25px;

    padding:45px;

    box-shadow:0 10px 35px rgba(0,0,0,.08);

}

.card-atendimento h3{

    text-align:center;

    margin-bottom:40px;

    font-size:34px;

    font-weight:bold;

}

.info-item{

    display:flex;

    align-items:center;

    gap:18px;

    margin-bottom:25px;

}

.info-item i{

    color:#ff5a00;

    font-size:28px;

    min-width:35px;

}

.info-item span{

    font-size:19px;

    color:#555;

}

.link-mapa{

    color:#ff5a00;

    font-weight:600;

    text-decoration:none;

    transition:.3s;

}

.link-mapa:hover{

    color:#ff6b1d;

    text-decoration:underline;

}

.link-mapa i{

    margin-right:6px;

    transition:.25s;

}

.link-email{

    transition:.25s;

    font-size:19px;

    color:#666;

    line-height:1.8;

    margin-bottom:20px;

    text-decoration: none;

}

.link-email:hover{

    color:#ff6b1d;

    text-decoration:underline;

}

footer{
    margin-top:5px;

    color:#666;

    font-size:18px;

    text-align:center;

    position:relative;

    z-index:2;
}

.produtos{
    background:#fff8f3;
}

.sobre{
    background:#fff;
}

html{

    scroll-behavior:smooth;

}

.btn-remover{

    margin-left:15px;

    border:none;

    background:#dc3545;

    color:white;

    width:36px;

    height:36px;

    border-radius:10px;

    cursor:pointer;

    transition:.3s;

}

.btn-remover:hover{

    background:#bb2d3b;

    transform:scale(1.08);

}

/* Modal */

.modal-content{

    border:none;

    border-radius:20px;

    overflow:hidden;

}

.modal-header{

    background:#ffc400;

    color:white;

    border:none;

    padding:20px;

}

.modal-title{

    font-weight:bold;

    font-size:24px;

}

.modal-title i{

    margin-right:10px;

}

.modal-body{

    padding:30px;

    font-size:18px;

    color:#555;

    line-height:1.7;

}

.modal-footer{

    border:none;

    padding:20px 30px 30px;

}

.btn-cancelar{

    background:#e9ecef;

    color:#555;

    font-weight:bold;

    border-radius:10px;

    padding:10px 25px;

}

.btn-cancelar:hover{

    background:#d6d6d6;

}

.btn-confirmar{

    background:#ffc400;

    color:white;

    font-weight:bold;

    border-radius:10px;

    padding:10px 25px;

}

.btn-confirmar:hover{

    background:#ff6b1d;

    color:white;

}