*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.fundo{
    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    position:relative;

    overflow:hidden;

    background: white;
}

.login-box{

    position: relative;
    z-index: 2;

    width:560px;


    background:white;

    border:none;

    border-radius:25px;

    padding:35px 45px;

    box-shadow:0px 10px 35px rgba(0,0,0,.15);
}

.logo{
    display:block;

    margin:auto;

    width:280px;

    margin-bottom:0;
}

h1{
    color:#ff5a00;

    text-align:center;

    font-size:50px;

    font-weight:bold;

    margin-bottom:10px;
}

.subtitulo{
    text-align:center;

    color:#666;

    margin-bottom:30px;

    font-size:20px;
}

label{
    font-weight:bold;

    font-size:20px;

    margin-bottom:10px;
}

.input-group{
    margin-top:8px;
}

.input-group-text{
    background:white;

    border-right:none;

    color:#ff5a00;
}

.form-control{
    height:60px;

    border-left:none;

    font-size:20px;
}

.form-control:focus{
    box-shadow:none;

    border-color:#ced4da;
}

.olho{
    cursor:pointer;

    background:white;
}

.btn-login{
    background:#ff5a00;

    color:white;

    font-size:24px;

    font-weight:bold;

    border-radius:12px;

    height:60px;

    border:none;

}

.btn-login:hover{
    background:#ff6b1d;

    color:white;

    transform: translateY(-2px);
    
    box-shadow: 0 8px 20px rgba(255, 90, 0, .25);

}

.divisor{
    display:flex;

    align-items:center;

    text-align:center;

    margin:35px 0;
}

.divisor::before,
.divisor::after{
    content:"";

    flex:1;

    border-bottom:1px solid #d9d9d9;
}

.divisor span{
    margin:0 15px;

    color:#777;

    font-size:20px;
}

.links{
    display:flex;

    flex-direction:column;

    gap:20px;

    align-items:center;
}

.links a{
    color:#ff5a00;

    text-decoration:none;

    font-size:22px;

    font-weight:bold;
}

.links a i{
    margin-right:10px;
}

.links a:hover{
    color:#ff5a00;

    text-decoration:underline;
}

footer{
    margin-top:25px;

    color:#666;

    font-size:18px;

    text-align:center;

    position:relative;

    z-index:2;
}

.bg-top{
    position:absolute;

    top:0;

    right:0;

    width:42vw;

    max-width:550px;

    pointer-events:none;

    z-index:0;
}

.bg-bottom{
    position:absolute;

    bottom:0;

    left:0;

    width:45vw;

    max-width:600px;

    pointer-events:none;

    z-index:0;
}